# Numpy Exercises

1) Create a uniform subdivision of the interval -1.3 to 2.5 with 64 subdivisions

In [4]:
import numpy as np 
z = np.linspace(-1.3, 2.5, 64)
print(z)

[-1.3        -1.23968254 -1.17936508 -1.11904762 -1.05873016 -0.9984127
 -0.93809524 -0.87777778 -0.81746032 -0.75714286 -0.6968254  -0.63650794
 -0.57619048 -0.51587302 -0.45555556 -0.3952381  -0.33492063 -0.27460317
 -0.21428571 -0.15396825 -0.09365079 -0.03333333  0.02698413  0.08730159
  0.14761905  0.20793651  0.26825397  0.32857143  0.38888889  0.44920635
  0.50952381  0.56984127  0.63015873  0.69047619  0.75079365  0.81111111
  0.87142857  0.93174603  0.99206349  1.05238095  1.11269841  1.17301587
  1.23333333  1.29365079  1.35396825  1.41428571  1.47460317  1.53492063
  1.5952381   1.65555556  1.71587302  1.77619048  1.83650794  1.8968254
  1.95714286  2.01746032  2.07777778  2.13809524  2.1984127   2.25873016
  2.31904762  2.37936508  2.43968254  2.5       ]

2) Generate an array of length 3n filled with the cyclic pattern 1, 2, 3

In [2]:
import numpy as np
V = np.array([1.,2.,3])
print(V)

[1. 2. 3.]

3) Create an array of the first 10 odd integers.

In [3]:
W = np.arange(1 ,20 ,2)
print(W)

[ 1  3  5  7  9 11 13 15 17 19]

4) Find intersection of a and b

In [8]:

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
c = np.array([[1,2,3,2,3,4,3,4,5,6],[7,2,10,2,7,4,9,4,9,8],])
print(c)
c.shape

[[ 1  2  3  2  3  4  3  4  5  6]
 [ 7  2 10  2  7  4  9  4  9  8]]

(2, 10)

5) Reshape 1d array a to 2d array of 2X5

In [9]:
a = np.arange(10)
print(a)
a.shape

Q = a.reshape(2,5)
print(Q)
Q.shape

[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]

(2, 5)

6) Create a numpy array to list and vice versa

In [11]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
npArray = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
print('Contents of ndArray :')
print(npArray)

Contents of ndArray :
[1 2 3 4 5 6 7 8 9]

7) Create a 10 x 10 arrays of zeros and then "frame" it with a border of ones.

In [13]:
R = np.zeros((10,10))
R[: , 3] = 1.0
print(R)

[[0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0.]]

8) Create an 8 x 8 array with a checkerboard pattern of zeros and ones using a slicing+striding approach.

In [14]:
U = np.zeros((8, 8))
U[4:8, 6:9] = 1.0
print(U)

V = np.empty(13)
V[::4] = 1.0
V[4::5] = -1.0
print(V)

[[0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 1. 1.]
 [0. 0. 0. 0. 0. 0. 1. 1.]
 [0. 0. 0. 0. 0. 0. 1. 1.]
 [0. 0. 0. 0. 0. 0. 1. 1.]]
[ 1.  0.  0.  0. -1.  0.  0.  0.  1. -1.  0.  0.  1.]